

/* nab bar edits to bootstrap css*/
.navbar-brand.nav-brand-custom {
    border-radius: 10%;
    background-color: #4059ad;
    color: #eff2f1;
    font-size: 20px;
    padding: 10px;
}

body {
    background: url('../img/geometry10-03-03-01.jpg') repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    }